<div class='crime_partial'>
	<%= crime.title %> <%= crime.type_of_crime %>
	<%= crime.date_of_crime %>
	<%= crime.street_address %>
	<%= crime.city %>
	<%= crime.state %>
	<%= crime.zipcode %>
	<div class='crime_partial_links'>
		<%= link_to 'Show', crime %>
		<%= link_to 'Edit', edit_crime_path(crime) %>
		<%= link_to 'Destroy', crime, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>