<%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization" %>
<%= javascript_include_tag  :'jPages'%>
<%= javascript_include_tag :'crimes' %>

<div id='heatmap_box', class='internal_elements'>
	<div id='heatmapArea'></div>
</div>

<div id='crime_detail_box', class='internal_elements'>
	<div class='pagination_controller'></div>
	<div id="all_crime_partials">
		<% @crimes.each do |crime| %>
			<li><%= render crime%></li>
		<% end %>
	</div>
	<div class='pagination_controller'></div>
	<br />

	<%= link_to 'New Crime', new_crime_path %>
</div>
<div id="filter_options", class="internal_elements">
	<%= form_tag('map_parameters_form',:id => "parameters_form", remote: true) do%>
	
	<%end%>
</div>
<div id='about_us' class="internal_elements">
	TODO: put info about us here
</div>
