<%= javascript_include_tag  "http://maps.google.com/maps/api/js?sensor=false" %>
<%= javascript_include_tag :'heatmap' %>
<%= javascript_include_tag :'heatmap-gmaps' %>
<%= javascript_include_tag :'crimes' %>
<%= stylesheet_link_tag :'heatmap' %>
<div id='heatmapArea'></div>
<h1>Listing crimes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Date of crime</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Street address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crimes.each do |crime| %>
  <tr>
    <td><%= crime.title %></td>
    <td><%= crime.type_of_crime %></td>
    <td><%= crime.date_of_crime %></td>
    <td><%= crime.latitude %></td>
    <td><%= crime.longitude %></td>
    <td><%= crime.street_address %></td>
    <td><%= crime.city %></td>
    <td><%= crime.state %></td>
    <td><%= crime.zipcode %></td>
    <td><%= link_to 'Show', crime %></td>
    <td><%= link_to 'Edit', edit_crime_path(crime) %></td>
    <td><%= link_to 'Destroy', crime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Crime', new_crime_path %>
