
<!--<%= gmaps({
		:map_options => { :container_class => "cities_map", :id => "city_map", :class => "city_map", :auto_adjust => true },
		 :markers => { "data" => @json_cities }} ) %> -->

<%= stylesheet_link_tag :"gmaps4rails" %>
<%= javascript_include_tag :'gmap4rails.base.js.coffee' %>
<%= javascript_include_tag :'gmap4rails.googlemaps.js.coffee' %>
<%= javascript_include_tag :'gmap4rails.openlayers.js.coffee' %>
<%= javascript_include_tag :'gmap4rails.bing.js.coffee' %>
<%= javascript_include_tag :'gmap4rails.mapquest.js.coffee' %>


<div class = body>
    <div class="container">

      <div class="masthead">
        <h3 class="muted">Google Maps App</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/crimes">Crime</a></li>
                <li><a href="#">Restaurants</a></li>
            
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Google Maps</h1>
        <p class="lead"> Welcome to the Google Maps App! You can add a city below.
        	
        	<%= gmaps4rails(@json) %>
        	</p>

      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Cities</h2>
          <p>
          	
    <section id="tables">
  <div class="page-header">
    <h1></h1>
  </div>
  
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
    <th>State</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th>Population</th>
      </tr>
    </thead>
    <tbody>
    	<% @cities.each do |city| %>
       <tr>
    <td><%= city.name %></td>
    <td><%= city.state %></td>
    <td><%= city.latitude %></td>
    <td><%= city.longitude %></td>
    <td><%= city.gmaps %></td>
    <td><%= city.population %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
     
    </tbody>
  </table>
</section>

    
          	
   
<br />
<%= link_to 'New City', new_city_path %>
          
           </p>
