<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>State:</b>
  <%= @city.state %>
</p>

<p>
  <b>Latitude:</b>
  <%= @city.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @city.longitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @city.gmaps %>
</p>

<p>
  <b>Population:</b>
  <%= @city.population %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
